/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: MontserratExtraBold;
  src: url(./assets/fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: MontserratBlack;
  src: url(./assets/fonts/Montserrat-Black.ttf);
}
@font-face {
  font-family: MontserratRegular;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: MontserratLight;
  src: url(./assets/fonts/Montserrat-Light.ttf);
}
